@model IEnumerable<JournalItemViewModel>

@{
    ViewData["Title"] = "Home Page";
}

@foreach (var journal in Model)
{
    <p>@journal.Id</p>
    <p>@journal.Title</p>
    <p>@journal.FileName</p>
    <p>@journal.Owner</p>
    <p>@journal.UpdatedAt</p>

    <hr/>
}
